/**
 * ******************
 * 模块全局设置
 * ******************
 */
.c-component {
    position: relative;
    padding-top: 0;
}

.c-component > * {
    padding: 0 20px;
}

/**
 * ******************
 * 模块内容
 * ******************
 */
.c-component > .content {
    padding-bottom: 20px;
}

.c-component > .content > .in {
    padding: 20px;
    background-color: white;
}