/**
 * ******************
 * 模块导航
 * ******************
 */
.navigation[data-v-d3b7a90e] {
    height: 60px;
    line-height: 60px;
    position: relative;
}
.navigation[data-v-d3b7a90e]:after {
    display: block;
    content: '';
    clear: both;
}
.navigation > .placeholder[data-v-d3b7a90e] {
    width: 100%;
    height: 100%;
}
.navigation > .nav[data-v-d3b7a90e] {
    height: 100%;
}
.navigation > .fixed-nav[data-v-d3b7a90e] {
    background-color: #8e95a5;
    z-index: 8;
    width: 100%;
    height: 60px;
    padding-left: 240px;
    padding-right: 20px;
    position: fixed;
    top: 80px;
    left: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.navigation > .fixed-nav[data-v-d3b7a90e]:before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: red;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 5px 0 red;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}
.navigation > .nav > *[data-v-d3b7a90e] {
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.navigation > .nav > .left[data-v-d3b7a90e] {
    float: left;
    font-size: 20px;
}
.navigation > .nav > .right[data-v-d3b7a90e] {
    float: right;
}
.navigation > .nav > .left > .image[data-v-d3b7a90e] {
    width: 40px;
    height: 40px;
}
.navigation > .nav > .left > .cn[data-v-d3b7a90e] {
    color: white;
}
.navigation > .nav > .left .delimiter[data-v-d3b7a90e] {
    color: white;
}
.navigation > .nav > .left > .en[data-v-d3b7a90e] {
    color: white;
}
.navigation > .nav > .right[data-v-d3b7a90e] {
    color: #e4e4e4;
    font-size: 14px;
}
.navigation > .nav > .right > *[data-v-d3b7a90e] {
}
.navigation > .nav > .right > .text[data-v-d3b7a90e] {
    cursor: pointer;
}
.navigation > .nav > .right > .delimiter[data-v-d3b7a90e] {
    padding: 0 8px;
}
.navigation > .nav > .right > *[data-v-d3b7a90e]:nth-last-of-type(1) {
    font-weight: bold;
}
.component[data-v-3bb6d314] {
}
.component > .left[data-v-3bb6d314], .component > .right[data-v-3bb6d314] {
    height: 100%;
    min-height: 600px;
}
.component > .left[data-v-3bb6d314] {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #464b56;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}
.component > .left > .in[data-v-3bb6d314] {
    width: 220px;
}
.component > .right[data-v-3bb6d314] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-left: 220px;
    z-index: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.component > .right > .top[data-v-3bb6d314] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    padding-left: 220px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.component > .right > .btm[data-v-3bb6d314] {
    min-width: 1080px;
    min-height: 100%;
    background-color: #777d8a;
}
.component > .right > .btm[data-v-3bb6d314]:before {
    display: block;
    visibility: visible;
    content: '';
    height: 80px;
}


/*
 * ****************
 * 文档左边: top
 * ****************
 */
.component > .left > .in > .top[data-v-3bb6d314] {
}
.component > .left > .in > .top .logo[data-v-3bb6d314] {
    height: 50px;
    line-height: 50px;
    background-color: #525865;
}
.component > .left > .in > .top .logo .left[data-v-3bb6d314] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    text-align: center;
}
.component > .left > .in > .top .logo .left .image[data-v-3bb6d314] {
    width: 28px;
    height: 28px;
}
.component > .left > .in > .top .logo .right[data-v-3bb6d314] {
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-left: 50px;
}
.component > .left > .in > .top .user[data-v-3bb6d314] {
    overflow: hidden;
    margin-bottom: 15px;
}
.component > .left > .in > .top .user .top[data-v-3bb6d314] {
    height: 150px;
    text-align: center;
    line-height: 150px;
}
.component > .left > .in > .top .user .top .image-container[data-v-3bb6d314] {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.component > .left > .in > .top .user .top .image-container .image[data-v-3bb6d314] {
    width: 100%;
    min-height: 100%;
    vertical-align: top;
}
.component > .left > .in > .top .user .btm[data-v-3bb6d314] {
    font-size: 14px;
    color: white;
    text-align: center;
}

/**
 * *************
 * 滑块
 * *************
 */
.component > .left > .in > .top .block[data-v-3bb6d314] {
    background-color:#3e4448;
}
.component > .left > .in > .top .block:hover .horizontal .in .line[data-v-3bb6d314], .component > .left > .in > .top .block:hover .vertical .in .line[data-v-3bb6d314] {
    background-color:#e7e7e7;
}
.component > .left > .in > .top .block>*[data-v-3bb6d314]  {
    height:30px;
    position:relative;
    cursor:pointer;
}
.component > .left > .in > .top .block .horizontal[data-v-3bb6d314] {
}
.component > .left > .in > .top .block .vertical[data-v-3bb6d314] {
}
.component > .left > .in > .top .block .horizontal .in[data-v-3bb6d314], .component > .left > .in > .top .block .vertical .in[data-v-3bb6d314] {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate3d(-50% , -50% , 0px);
    -webkit-transform:translate3d(-50% , -50% , 0px);
    -moz-transform:translate3d(-50% , -50% , 0px);
    -ms-transform:translate3d(-50% , -50% , 0px);
    -otransform:translate3d(-50% , -50% , 0px);
}
.component > .left > .in > .top .block .horizontal .in[data-v-3bb6d314]:after {
    display:block;
    content:'';
    clear:both;
}
.component > .left > .in > .top .block .horizontal .in .line[data-v-3bb6d314] {
    float:left;
    width: 3px;
    height: 12px;
    margin-right:3px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    background-color: #868686;
}
.component > .left > .in > .top .block .horizontal .in .line[data-v-3bb6d314]:nth-last-of-type(1) {
    margin-right: 0;
}
.component > .left > .in > .top .block .vertical[data-v-3bb6d314] {
    width:50px;
    margin: 0;
}
.component > .left > .in > .top .block .vertical .in[data-v-3bb6d314] {
}
.component > .left > .in > .top .block .vertical .in .line[data-v-3bb6d314] {
    background-color: #868686;
    margin-bottom:3px;
    width:12px;
    height:2px;
    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
}
.component > .left > .in > .top .block .vertical .in .line[data-v-3bb6d314]:nth-last-of-type(1) {
    margin-bottom: 0;
}

/*
 * ****************
 * 文档左边: mid
 * ****************
 */
.component > .left > .in > .mid[data-v-3bb6d314] {
    overflow: hidden;
    overflow-y: auto;
    min-height: 300px;
}

/*
 * ****************
 * 文档左边: btm
 * ****************
 */
.component > .left > .in > .btm[data-v-3bb6d314] {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #525865;
}

/**
 * *****************
 * 文档右边，全局设置
 * *****************
 */
.component > .right[data-v-3bb6d314] {
}
.component > .right > .top[data-v-3bb6d314] {
    height: 80px;
}
.component > .right > .top > .c-top[data-v-3bb6d314] {
    height: 50px;
    line-height: 50px;
    background-color: #5c626d;
}
.component > .right > .top > .c-btm[data-v-3bb6d314] {
    height: 30px;
}
.component > .right > .btm[data-v-3bb6d314] {
}


/**
 * *********************
 * 文档右边，顶部上边
 * *********************
 */
.component > .right > .top > .c-top[data-v-3bb6d314] {
}
.component > .right > .top > .c-top[data-v-3bb6d314]:after {
    display: block;
    content: '';
    clear: both;
}
.component > .right > .top > .c-top > *[data-v-3bb6d314] {
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.component > .right > .top > .c-top > .left[data-v-3bb6d314] {
    float: left;
}
.component > .right > .top > .c-top > .right[data-v-3bb6d314] {
    float: right;
}
.component > .right > .top > .c-top > .left[data-v-3bb6d314]:after {
    display: block;
    content: '';
    clear: both;
}
.component > .right > .top > .c-top > .left > *[data-v-3bb6d314] {
    float: left;
    position: relative;
    text-align: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.component > .right > .top > .c-top > .left > *[data-v-3bb6d314]:hover {
    background-color: #797d84;
}
.component > .right > .top > .c-top > .left > * .image[data-v-3bb6d314] {
    width: 28px;
    height: 28px;
}
.component > .right > .top > .c-top > .left > *[data-v-3bb6d314]:after {
    display: block;
    content: '';
    width: 1px;
    height: 40%;
    background-color: #757f90;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.component > .right > .top > .c-top > .left > *[data-v-3bb6d314]:nth-last-of-type(1)::after {
    display: none;
}
.component > .right > .top > .c-top > .right[data-v-3bb6d314] {
}
.component > .right > .top > .c-top > .right[data-v-3bb6d314]:after {
    display: block;
    content: '';
    clear: both;
}
.component > .right > .top > .c-top > .right > *[data-v-3bb6d314] {
    float: left;
    height: 100%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.component > .right > .top > .c-top > .right > .user[data-v-3bb6d314] {
    position: relative;
}
.component > .right > .top > .c-top > .right > .user:hover .ctrl[data-v-3bb6d314] {
    background-color: #797d84;
}
.component > .right > .top > .c-top > .right > .user .ctrl[data-v-3bb6d314] {
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.component > .right > .top > .c-top > .right > .user .ctrl[data-v-3bb6d314]:after {
    display: block;
    content: '';
    clear: both;
}
.component > .right > .top > .c-top > .right > .user .ctrl > *[data-v-3bb6d314] {
    float: left;
    height: 50px;
    padding-right: 10px;
    line-height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.component > .right > .top > .c-top > .right > .user .ctrl > *[data-v-3bb6d314]:nth-last-of-type(1) {
    padding-right: 0;
}
.component > .right > .top > .c-top > .right > .user .ctrl .avatar[data-v-3bb6d314] {
    text-align: center;
}
.component > .right > .top > .c-top > .right > .user .ctrl .avatar .image-container[data-v-3bb6d314] {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.component > .right > .top > .c-top > .right > .user .ctrl .avatar .image[data-v-3bb6d314] {
    width: 100%;
    min-height: 100%;
    vertical-align: top;
}
.component > .right > .top > .c-top > .right > .user .ctrl .username[data-v-3bb6d314] {
    color: white;
}
.component > .right > .top > .c-top > .right > .user .functions[data-v-3bb6d314] {
    background-color: #484e58;
    padding: 10px;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    right: 0;
    z-index: 10;
    width: 160px;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
}
.component > .right > .top > .c-top > .right > .user .functions .function[data-v-3bb6d314] {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.component > .right > .top > .c-top > .right > .user .functions .function[data-v-3bb6d314]:hover {
    background-color: #626a77;
}
.component > .right > .top > .c-top > .right > .user .functions .function[data-v-3bb6d314]:after {
    display: block;
    content: '';
    clear: both;
}
.component > .right > .top > .c-top > .right > .user .functions .function > *[data-v-3bb6d314] {
    height: 100%;
}
.component > .right > .top > .c-top > .right > .user .functions .function .left[data-v-3bb6d314] {
    width: 50px;
    text-align: center;
    position: absolute;
    left: 0;
}
.component > .right > .top > .c-top > .right > .user .functions .function .left .image[data-v-3bb6d314] {
    width: 28px;
    height: 28px;
}
.component > .right > .top > .c-top > .right > .user .functions .function .right[data-v-3bb6d314] {
    color: white;
    margin-left: 50px;
}
.component > .right > .top > .c-top > .right > .notification[data-v-3bb6d314] {
    width: 50px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.component > .right > .top > .c-top > .right > .notification[data-v-3bb6d314]:hover {
    background-color: #797d84;
}
.component > .right > .top > .c-top > .right > .notification > .in[data-v-3bb6d314] {
    position: relative;
    height: 100%;
}
.component > .right > .top > .c-top > .right > .notification > .in .image-container[data-v-3bb6d314] {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    overflow: hidden;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.component > .right > .top > .c-top > .right > .notification > .in .image-container .image[data-v-3bb6d314] {
    width: 100%;
    min-height: 100%;
    vertical-align: top;
}
.component > .right > .top > .c-top > .right > .notification > .in .text[data-v-3bb6d314] {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    line-height: normal;
    padding: 0 5px;
    background-color: red;
    overflow: hidden;
    border-radius: 3px;;
    z-index: 10;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

/**
 * **************************
 * 文档右边：底部
 * **************************
 */
.component > .right > .btm > .dynamic[data-v-3bb6d314] {
}
.component > .right > .btm > .dynamic > .in[data-v-3bb6d314] {
}

/**
 * ********************
 * 抽屉
 * ********************
 */
.component > .slidebar-container[data-v-3bb6d314] {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.slidebar > .con[data-v-3bb6d314] {
    background-color:rgba(0, 0, 0, 0.8);
}
.slidebar > .con > .in[data-v-3bb6d314] {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    color: #fff;
    padding: 15px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
.slidebar > .con > .in[data-v-3bb6d314]::-webkit-scrollbar-thumb {
    background-color: #999;
}
.slidebar > .con > .in .lines .line[data-v-3bb6d314] {
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
}
.slidebar > .con > .in .lines .line[data-v-3bb6d314]:hover {
    background-color: #5d5d5d;
}
.slidebar > .con > .in .lines .line[data-v-3bb6d314]:after {
    display: block;
    content: '';
    clear: both;
}
.slidebar > .con > .in .lines .line > *[data-v-3bb6d314] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.slidebar > .con > .in .lines .line .left[data-v-3bb6d314] {
    float: left;
}
.slidebar > .con > .in .lines .line .right[data-v-3bb6d314] {
    float: right;
}
.slidebar > .con > .in .lines .line .left[data-v-3bb6d314]:after {
    display: block;
    content: '';
    clear: both;
}
.slidebar > .con > .in .lines .line .left > *[data-v-3bb6d314] {
    float: left;
    margin-right: 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.slidebar > .con > .in .lines .line .left > *[data-v-3bb6d314]:nth-last-of-type(1) {
    margin-right: 0;
}
.slidebar > .con > .in .lines .line .left .ico[data-v-3bb6d314] {
    width: 24px;
}
.slidebar > .con > .in .lines .line .left .ico .image[data-v-3bb6d314] {
    width: 24px;
    height: 24px;
}
.slidebar > .con > .in .lines .line .left .text[data-v-3bb6d314] {
    font-size: 13px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.slidebar > .con > .in > .loading[data-v-3bb6d314] {
    text-align: center;
    padding: 10px 0;
}
.slidebar > .con > .in > .no-more[data-v-3bb6d314] {
    padding: 10px 0;
}
