/**
 * ******************
 * 模块全局设置
 * ******************
 */
.c-component[data-v-49146ab2] {
    position: relative;
    padding-top: 0;
}
.c-component > *[data-v-49146ab2] {
    padding: 0 20px;
}

/**
 * ******************
 * 模块内容
 * ******************
 */
.c-component > .content[data-v-49146ab2] {
    padding-bottom: 20px;
}
.c-component > .content > .in[data-v-49146ab2] {
    padding: 20px;
    background-color: white;
}
.c-component > .content > .in > *[data-v-49146ab2] {
    margin-bottom: 12px;
}
.c-component > .content > .in > *[data-v-49146ab2]:nth-last-of-type(1) {
    margin-bottom: 0;
}
.c-component > .content > .in > .list[data-v-49146ab2] {
}
.c-component > .content > .in > .list > *[data-v-49146ab2] {
    margin-bottom: 12px;
}
.c-component > .content > .in > .list > *[data-v-49146ab2]:nth-last-of-type(1) {
    margin-bottom: 0;
}
.c-component > .content > .in > .list > .page[data-v-49146ab2] {
    text-align: center;
}

/**
 * 表格样式重置
 */
.c-component > .content > .in .line-tb[data-v-49146ab2] {
}
.c-component > .content > .in .line-tb tbody tr td .ivu-checkbox-group label span[data-v-49146ab2]:nth-of-type(2) {
    display: none;
}
.c-component[data-v-49146ab2] {
}
.c-component .content[data-v-49146ab2] {
}
.c-component .content .in form .c-content[data-v-49146ab2] {
    padding: 20px;
    border: 1px solid #ccc;
}
