/**
 * *************
 * iview 重置
 * *************
 */
* {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.ivu-radio-inner , .ivu-checkbox-inner , .ivu-switch {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ivu-breadcrumb {
    color: #e4e4e4;
}

.ivu-breadcrumb a {
    color: white;
}

.ivu-tooltip * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}